/* Header.css */

.root {
    /* Define global styles here */
    font-family: Arial, sans-serif;
}

.root.light {
    /* Light mode global styles */
    background-color: #f0f0f0;
    color: #333;
}

.root.dark {
    /* Dark mode global styles */
    background-color: #333;
    color: #f0f0f0;
}

.app-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    font-size: 1.5rem;
}

.app-header .app-title {
    margin: 0;
}

.app-header.light {
    background-color: #3f51b5; /* Light mode background color */
    color: white; /* Light mode text color */
}

.app-header.dark {
    background-color: #333; /* Dark mode background color */
    color: #f0f0f0; /* Dark mode text color */
}

.theme-toggle {
    display: flex;
    align-items: center;
}

.theme-toggle label {
    margin-left: 10px;
    font-size: 1rem;
    cursor: pointer;
}

.theme-toggle input[type="radio"] {
    margin-right: 5px;
}
