.app-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(13, 27, 154);
  padding: 10px 20px;
  color: white;
}
body.light {
  background-color: #ffffff;
  color: #000000;
}

body.dark {
  background-color: #000000;
  color: #ffffff;
}

.app-title {
  margin: 0;
  font-size: 1.5rem;
}
.theme-toggle label {
  margin-left: 1rem;
}
