
.container th {
    font-weight: bold;
    font-size: 1.1em;
    text-align: left;
    color: #1b3642;
}
  
.container td {
    font-weight: normal;
    font-size: 1em;
}
  
.container {
    text-align: left;
    overflow: hidden;
    width: 96%;
    margin: 0 auto;
    display: table;
    padding: 0 0 8em 0;
}
  
.container td, .container th {
    padding-bottom: 1%;
    padding-top: 1%;
    padding-left:1%;  
}

/* Background-color of the odd rows */
.container tr:nth-child(odd) {
    background-color: #FFF9D0;
}

/* Background-color of the even rows */
.container tr:nth-child(even) {
    background-color: #FFF9EF;
}

.container th {
    background-color: #5AB2FF;
}



@media (max-width: 800px) {
.container td:nth-child(4),
.container th:nth-child(4) { display: none; }
}
