.table-row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.cell{
    flex: 1;
    padding: 10px;
    text-align: left;
    flex: 1 0 0;
    box-sizing: border-box; 
    /* border: 1px solid #ccc; */
}
.button {
    display: inline-block;
    padding: 5px 10px;
    cursor: pointer;
    width:90%;
    
    
    border-radius: 4px;
  }
.lightbtn{
    background-color: #f0f0f0;
    border: 2px solid;
}
.darkbtn{
    background-color: #ffabe2;
    border:none;
}
  
.edit:hover{
    background-color: #00ff00;
}
.delete:hover {
    background-color: #ff0000;
} 

.button:active {
    transform: translateY(1px);
}


.one{
    width: 20%;
}
.two{
    width: 20%;
}
.three{
    width: 25%;
}
.four{
    width: 15%;
}
.five{
    width: 10%;
}
.six{
    width: 10%;
}
  