.table-container{
    text-align: left;
    overflow: hidden;
    width: 96%;
    margin: 0 auto;
    display: table;
    padding: 10px 10px 8em 10px;
}
.container{
    display: flex;
    flex-direction: column;
}
.data-rows-container .xyz-with-edit:nth-child(even) {
    background-color: #FFF9EF;
}
.data-rows-container .xyz-with-edit:nth-child(odd) {
    background-color: #FFF9D0;
}


  
/* .container table-head-r {
    padding-bottom: 1%;
    padding-top: 1%;
    padding-left:1%; 
}
.container td{
    padding-bottom: 2px;
    padding-top: 2px;
    padding-left:1%;  
}

/* Background-color of the odd rows */
/*  */

/* Background-color of the even rows */
/* 

.container th {
    background-color: #5AB2FF;
}*/


