:root {
    --background-color-light: #ffffff;
    --background-color-dark: #2c3e50;
    --text-color-light: #000000;
    --text-color-dark: #ecf0f1;
    --header-background-color: #3f51b5;
    --edit-button-color: #5468dc;
    --edit-button-hover-color: #394aa5;
    --edit-button-active-color: #2e3b88;
    --delete-button-color: #5468dc;
    --delete-button-hover-color: #d04848;
    --delete-button-active-color: #d92424;
}

.users-table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 16px;
    text-align: left;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
    color: var(--text-color-light); /* Default text color for light theme */
    background-color: var(--background-color-light); /* Default background color for light theme */
    transition: background-color 0.3s, color 0.3s;
}

.users-table thead {
    background-color: #1679AB;
    color: white;
}

.users-table th{
    padding: 12px 15px;
    border-bottom: 1px solid #ddd;
    color: white;
}
.users-table td {
    padding: 12px 15px;
    border-bottom: 1px solid #ddd;
    color: var(--text-color);
}

.users-table th {
    font-weight: bold;
    text-transform: uppercase;
}

.users-table tbody tr {
    transition: background-color 0.3s ease;
}

.users-table tbody tr:nth-of-type(even) {
    background-color: var(--background-color-light);
}

.users-table tbody tr:hover {
    background-color: #f1f1f1;
}

.users-table td {
    position: relative;
}

.users-table input[type="text"],
.users-table input[type="email"],
.users-table select {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 1em;
}

.users-table button {
    padding: 8px 12px;
    margin: 0 5px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    color: white;
    font-size: 1em;
    transition: background-color 0.3s;
}

.users-table button.edit {
    background-color: var(--edit-button-color);
}

.users-table button.edit:hover {
    background-color: var(--edit-button-hover-color);
}

.users-table button.edit:active {
    background-color: var(--edit-button-active-color);
}

.users-table button.delete {
    background-color: var(--delete-button-color);
}

.users-table button.delete:hover {
    background-color: var(--delete-button-hover-color);
}

.users-table button.delete:active {
    background-color: var(--delete-button-active-color);
}

.users-table td:last-child {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Dark theme styles */
[data-theme='dark'] .users-table {
    background-color: var(--background-color-dark);
    color: var(--text-color-dark);
}

[data-theme='dark'] .users-table tbody tr:nth-of-type(even) {
    background-color: var(--background-color-dark);
}

[data-theme='dark'] .users-table tbody tr:hover {
    background-color: #37474f; /* Dark theme hover color */
}
