.users-table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 16px;
    text-align: left;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    border-radius: 8px;
    overflow: hidden;
}

.users-table thead {
    background-color: #1679AB;
    color: white;
}

.users-table th, .users-table td {
    padding: 12px 15px;
    border-bottom: 1px solid #ddd;
}

.users-table th {
    font-weight: bold;
    text-transform: uppercase;
}

.users-table tbody tr {
    transition: backgroud-color 0.3s ease;
}

.users-table tbody tr:nth-of-type(even) {
    background-color: #f9f9f9;
}

.users-table tbody tr:hover {
    background-color: #f1f1f1;
}

.users-table td {
    position: relative;
}

.users-table input[type="text"],
.users-table imput[type="email"],
.users-table select {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 1em;
}

.users-table button {
    padding: 8px 12px;
    margin: 0 5px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    color: white;
    font-size: 1em;
    transition: background-color 0.3s;
}

.users-table button.edit {
    background-color: #5468dc;
}

.users-table button.edit:hover {
    background-color: #394aa5;
}

.users-table button:active {
    background-color: #2e3b88;
}

.users-table button.delete {
    background-color: #5468dc;
}

.users-table button.delete:hover {
    background-color: #d04848;
}

.users-table button.delete:active {
    background-color: #d92424;
}

.users-table td:last-child {
    display: flex;
    justify-content: space-between;
    align-items: center;
}